## Step 1. Describe your data set:

* The data set was donated in the year 2017 by Luis Candanedo, University of Mons (UMONS). The data was collected to create regression models of appliances energy use in a low energy building.
* Each appliance in the house were attached with a sensor node and the temperature and the humidity was recorded every 3.3 minutes. The average of these temperature was recorded for every 10 minutes.
* The data was collected in the year 2016, January 11th to May 27th.
* The outside temperatures were also recorded to check the appliances energy use in low energy buildings.
* The data was divided into training and testing set to perform regression models to reduce the MSE of the model to predict the enrgy use by an appliance.

## Step 2. Load the dataset

In [2]:
library(ggplot2)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1
✔ purrr   0.3.4

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
appdata<-read.csv("energydata_complete.csv")

## Step 3. Explore your dataset

In [5]:
head(appdata)

  date                Appliances lights T1    RH_1     T2   RH_2     T3
1 2016-01-11 17:00:00 60         30     19.89 47.59667 19.2 44.79000 19.79
2 2016-01-11 17:10:00 60         30     19.89 46.69333 19.2 44.72250 19.79
3 2016-01-11 17:20:00 50         30     19.89 46.30000 19.2 44.62667 19.79
4 2016-01-11 17:30:00 50         40     19.89 46.06667 19.2 44.59000 19.79
5 2016-01-11 17:40:00 60         40     19.89 46.33333 19.2 44.53000 19.79
6 2016-01-11 17:50:00 50         40     19.89 46.02667 19.2 44.50000 19.79
  RH_3     T4       ⋯ T9       RH_9  T_out    Press_mm_hg RH_out Windspeed
1 44.73000 19.00000 ⋯ 17.03333 45.53 6.600000 733.5       92     7.000000
2 44.79000 19.00000 ⋯ 17.06667 45.56 6.483333 733.6       92     6.666667
3 44.93333 18.92667 ⋯ 17.00000 45.50 6.366667 733.7       92     6.333333
4 45.00000 18.89000 ⋯ 17.00000 45.40 6.250000 733.8       92     6.000000
5 45.00000 18.89000 ⋯ 17.00000 45.40 6.133333 733.9       92     5.666667
6 44.93333 18.89000 ⋯ 17.00000 45.29 6.016667 734.0       92     5.333333
  Visibility Tdewpoint rv1      rv2
1 63.00000   5.3       13.27543 13.27543
2 59.16667   5.2       18.60619 18.60619
3 55.33333   5.1       28.64267 28.64267
4 51.50000   5.0       45.41039 45.41039
5 47.66667   4.9       10.08410 10.08410
6 43.83333   4.8       44.91948 44.91948

* The data consists of 29 columns 
* T and the RH values represent the temperature and humidity recorded for an appliance.
* The first column consists of the date and time the temperature was recorded for the appliances.

In [6]:
summary(appdata)

     date             Appliances         lights             T1
 Length:19735       Min.   :  10.0   Min.   : 0.000   Min.   :16.79
 Class :character   1st Qu.:  50.0   1st Qu.: 0.000   1st Qu.:20.76
 Mode  :character   Median :  60.0   Median : 0.000   Median :21.60
                    Mean   :  97.7   Mean   : 3.802   Mean   :21.69
                    3rd Qu.: 100.0   3rd Qu.: 0.000   3rd Qu.:22.60
                    Max.   :1080.0   Max.   :70.000   Max.   :26.26
      RH_1             T2             RH_2             T3
 Min.   :27.02   Min.   :16.10   Min.   :20.46   Min.   :17.20
 1st Qu.:37.33   1st Qu.:18.79   1st Qu.:37.90   1st Qu.:20.79
 Median :39.66   Median :20.00   Median :40.50   Median :22.10
 Mean   :40.26   Mean   :20.34   Mean   :40.42   Mean   :22.27
 3rd Qu.:43.07   3rd Qu.:21.50   3rd Qu.:43.26   3rd Qu.:23.29
 Max.   :63.36   Max.   :29.86   Max.   :56.03   Max.   :29.24
      RH_3             T4             RH_4             T5
 Min.   :28.77   Min.   :15.10   Min.   :27.66   Min.   :15.33
 1st Qu.:36.90   1st Qu.:19.53   1st Qu.:35.53   1st Qu.:18.28
 Median :38.53   Median :20.67   Median :38.40   Median :19.39
 Mean   :39.24   Mean   :20.86   Mean   :39.03   Mean   :19.59
 3rd Qu.:41.76   3rd Qu.:22.10   3rd Qu.:42.16   3rd Qu.:20.62
 Max.   :50.16   Max.   :26.20   Max.   :51.09   Max.   :25.80
      RH_5             T6              RH_6             T7
 Min.   :29.82   Min.   :-6.065   Min.   : 1.00   Min.   :15.39
 1st Qu.:45.40   1st Qu.: 3.627   1st Qu.:30.02   1st Qu.:18.70
 Median :49.09   Median : 7.300   Median :55.29   Median :20.03
 Mean   :50.95   Mean   : 7.911   Mean   :54.61   Mean   :20.27
 3rd Qu.:53.66   3rd Qu.:11.256   3rd Qu.:83.23   3rd Qu.:21.60
 Max.   :96.32   Max.   :28.290   Max.   :99.90   Max.   :26.00
      RH_7             T8             RH_8             T9
 Min.   :23.20   Min.   :16.31   Min.   :29.60   Min.   :14.89
 1st Qu.:31.50   1st Qu.:20.79   1st Qu.:39.07   1st Qu.:18.00
 Median :34.86   Median :22.10   Median :42.38   Median :19.39
 Mean   :35.39   Mean   :22.03   Mean   :42.94   Mean   :19.49
 3rd Qu.:39.00   3rd Qu.:23.39   3rd Qu.:46.54   3rd Qu.:20.60
 Max.   :51.40   Max.   :27.23   Max.   :58.78   Max.   :24.50
      RH_9           T_out         Press_mm_hg        RH_out
 Min.   :29.17   Min.   :-5.000   Min.   :729.3   Min.   : 24.00
 1st Qu.:38.50   1st Qu.: 3.667   1st Qu.:750.9   1st Qu.: 70.33
 Median :40.90   Median : 6.917   Median :756.1   Median : 83.67
 Mean   :41.55   Mean   : 7.412   Mean   :755.5   Mean   : 79.75
 3rd Qu.:44.34   3rd Qu.:10.408   3rd Qu.:760.9   3rd Qu.: 91.67
 Max.   :53.33   Max.   :26.100   Max.   :772.3   Max.   :100.00
   Windspeed        Visibility      Tdewpoint           rv1
 Min.   : 0.000   Min.   : 1.00   Min.   :-6.600   Min.   : 0.00532
 1st Qu.: 2.000   1st Qu.:29.00   1st Qu.: 0.900   1st Qu.:12.49789
 Median : 3.667   Median :40.00   Median : 3.433   Median :24.89765
 Mean   : 4.040   Mean   :38.33   Mean   : 3.761   Mean   :24.98803
 3rd Qu.: 5.500   3rd Qu.:40.00   3rd Qu.: 6.567   3rd Qu.:37.58377
 Max.   :14.000   Max.   :66.00   Max.   :15.500   Max.   :49.99653
      rv2
 Min.   : 0.00532
 1st Qu.:12.49789
 Median :24.89765
 Mean   :24.98803
 3rd Qu.:37.58377
 Max.   :49.99653

## Step 4. Initial thoughts

## Step 5. Data Wrangling

In [10]:
#The last 2 columns consist of random variables used for testing the regression model which can be dropped here
drops <- c("rv1","rv2")
appdata<-appdata[ , !(names(appdata) %in% drops)]

In [12]:
sum(is.na(appdata))
#No NA values present in the data

[1] 0

## Step 6. Reasearch Question

1. Which appliance consumes the maximum and minimum amount of energy
2.